.login {
    padding: 0.5rem;
}

.container {
    margin-top: 5.5rem;
    background-color: #fd9effa2;
    padding: 1.5rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    display: flex;
    width: 32rem;
    flex-direction: column;
    align-items: flex-start;
}

.Signup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.Texto-principal {
    color: #000;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bloque {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    align-self: stretch;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}

.block {
    display: flex;
    width: 32rem;
    height: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
}

.textbox {
    display: flex;
    width: 90%;
    height: 3rem;
    background-color: #FEC1FF;
    border-color: #000;
    border-width: 0.1rem;
    border-radius: 0.5rem;
}

.Text {
    display: flex;
    align-items: center;
    position: relative;
    top: -3.1rem;
    left: 0.1rem;
}

.error-text {
    display: flex;
    align-items: center;
    position: relative;
    top: -4.15rem;
    left: 31rem;
    color: red;
    font-weight: 600;
    width: 150px;
}

.simple-text {
    color: var(--Blackish-Green, #121);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.link-text {
    color: var(--Slamon, #FF8682);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: flex-end;
    padding-left: 0.3rem;
}

.buttons-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.button {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    border-radius: 2.5rem;
    justify-content: center;
    background-color: #ffffff;
    border-color: #000;
    border-width: 0.1rem;
}

.minifooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.eye1 {
    width: 1rem;
    display: flex;
    position: relative;
    left: 27rem;
    top: -4.8rem;
}

.eye2 {
    width: 1rem;
    display: flex;
    position: relative;
    left: 27rem;
    top: -3.8rem;
}