<div class="HomePaqueteMain">
    <div class="superblock">
        <div class="Titles">
            <div class="Titles2">
                <h1 class="h1Nor">Plan your perfect package</h1>
                <h2 class="h2Nor">Search Flights & Places Hire to our most popular destinations</h2>
            </div>
            <button class="button" routerLink="../package">See more packages</button>
        </div>
        <div class="HomePaquete">
            <div class="block">
                <img src="../../../assets/img/Avion costa.jpeg" alt="">
                <div class="body">
                    <div class="rectangle"></div>
                    <div class="body2">
                        <div class="texts">
                            <h1 class="h1Esp">Coast Package</h1>
                            <h2 class="h2Esp">Visit the incredible island</h2>
                        </div>
                        <button class="button" routerLink="../package/booking">Show Package</button>
                    </div>
                </div>
            </div>
            <div class="block">
                <img src="../../assets/img/avion.jpeg" alt="">
                <div class="body">
                    <div class="rectangle"></div>
                    <div class="body2">
                        <div class="texts">
                            <h1 class="h1Esp">Island Package</h1>
                            <h2 class="h2Esp">Visit the incredible coast</h2>
                        </div>
                        <button class="button" routerLink="../package/booking">Show Package</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>