<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="excursion-single">
    <img src="" alt="Imagen de agencia">
    <div class="excursion-single-body">
        <div class="first-line">
            <div class="left-first-line">
                <p class="valoracion">4.2</p>
                <p>Very Good 54 reviews</p>
            </div>
            <div class="right-first-line">
                <p>starting from</p>
                <p class="price">$104</p>
            </div>
        </div>
        <div class="middle-line">
            <div class="middle-line-inside">
                <p>Contenido</p>
            </div>
        </div>
        <div class="rectangle"></div>
        <div class="last-line">
            <div class="button">
                <button routerLink="./booking">View Deals</button>
            </div>
        </div>
    </div>
</div>